<!DOCTYPE html>
<html lang="en">
<head>
    {% include './app-meta.html' %}


    <link rel="stylesheet" href="/assets/css/src/docs.min.css" media="none" onload="if(media!='all')media='all'"><noscript><link rel="stylesheet" href="css.css"></noscript>
    <link rel="stylesheet" href="/dist/css/bootstrap.min.css" media="none" onload="if(media!='all')media='all'"><noscript><link rel="stylesheet" href="css.css"></noscript>
    <!-- <link rel="stylesheet" href="/dist/css/fonts.min.css" media="none" onload="if(media!='all')media='all'"><noscript><link rel="stylesheet" href="css.css"></noscript> -->
   
    <script>
        var font = new FontFace("source_sans_pro", "url(/dist/fonts/sourcesanspro-regular.woff2)", {
        style: 'normal', unicodeRange: 'U+000-5FF', weight: '400'
        });

        font.load(); // don't wait for render tree, initiate immediate fetch!

        font.ready().then(function() {
        // apply the font (which may rerender text and cause a page reflow)
        // once the font has finished downloading
        document.fonts.add(font);
        document.body.style.fontFamily = "source_sans_pro, serif";

        // OR... by default content is hidden, and rendered once font is available
        var content = document.getElementById("content");
        content.style.visibility = "visible";

        // OR... apply own render strategy here... 
        });

          var font2 = new FontFace("source_sans_pro", "url(/dist/fonts/sourcesanspro-light.woff2)", {
        style: 'normal', unicodeRange: 'U+000-5FF', weight: '300'
        });

        font2.load(); // don't wait for render tree, initiate immediate fetch!

        font2.ready().then(function() {
        // apply the font (which may rerender text and cause a page reflow)
        // once the font has finished downloading
        document.fonts.add(font2);
        document.body.style.fontFamily = "Awesome Font, serif";

        // OR... by default content is hidden, and rendered once font is available
        var content = document.getElementById("content");
        content.style.visibility = "visible";

        // OR... apply own render strategy here... 
        });
  
    </script>
    {% block head_critical_css %} {% endblock %}
    {% block head_extra %}{% endblock %}
</head>

<body {% block body_attributes %}{% endblock %}>

    {% block body %}{% endblock %}

    <script src="/assets/js/vendor/jquery.min.js"></script>
    <script async src="/dist/js/bootstrap.min.js"></script>
    <script async src="/assets/js/docs.min.js"></script>
    <script async src="/assets/js/ie10-viewport-bug-workaround.min.js"></script>
    {% block scripts_extra %}{% endblock %}
</body>
</html>
